/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styling starts here */

body {
  font: 16px "Roboto", sans-serif;
  font-weight:400;
  background-color:aliceblue;
  height:100vh;
}

a {
  color: #00B7FF;
}

#landing {
  background-image: url('/images/cinema.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#landing-page {
  position: fixed;
  top: 10%;
  left: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  gap: 40px;
}

#landing-page h1 {
  margin: 0;
  color: aliceblue;
  font-size: 6rem;
}

#landing-page a {
  width: 40%;
  height: 60px;
  border: 1px solid aliceblue;
  border-radius: 25px;
  background-color: aliceblue;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#movies-header {
  text-align:center;
  font-size: 3rem;
  font-weight:700;
  padding-top: 4vh;
  padding-bottom: 8vh;
}

#movies-header a {
  color:rgb(2, 2, 57);
  text-decoration:none;
}

#movies-page {
  margin: 0 10vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 15px;
}

.movie-card h1 {
  font-size:1rem;
  font-weight:700;
  color:black;
  margin: 5px 0;
}

.movie-card a {
  font-size:0.8rem;
}

#movie-detail {
  width:70%;
  margin: 4vh auto;
}

#movie-detail h2 {
  font-size:0.9rem;
  font-weight:700;
  color:black;
  margin-top: 15px;
  margin-bottom: 5px;
}

#movie-detail p, #movie-detail li {
  font-size: 0.8rem;
  display: inline;
}

footer {
  background-color: black;
  padding: 1vh 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 60%;
}

footer h3 {
  color: white;
  text-align:center;
}